![How to speak python](Pics/harry.png)

# Python
## A high-level language & Interpreted language
![](Pics/comVSinter.png)
## Why python
* Simple and fast to /learn/implement/diagnostic .... everything.
* Modern

## Where is python
* Everywhere

# Python Shortcomings

* **Fast to code, Slow to run**

![](Pics/execution.png)


* **Python is interpreted language can raise mistakes**

* **Python is Dynamically Typed rather than Statically Typed no optimization**

* **GIL**

# Solution
* **Python has FOSS (Free and Open Source Software) spirit so
everything is solvable**
![](Pics/pack.png)

## Let's say Hello

In [36]:
print('Hello world')

Hello world

In [35]:
print("Hello world")

Hello world

In [38]:
print("Hello people's of the world")

Hello people's of the world

In [41]:
print('this is double quotation:"')

this is double quotation:"

In [44]:
print("Hello","World",1,"time")

Hello World 1 time

# Variables:
 * **A reserved space with a name:**
 ![](Pics/memory.png)
 
 
 * **Assignment (meghdar dehi!):** 
 ![](Pics/name.png)
 VariableName (left) = value (right)

In [45]:
age = 50

In [46]:
height = 175.2

In [47]:
letter = "M"

In [48]:
letter

'M'

In [49]:
print(letter)

M

In [50]:
full_name = "Amir Rezaei"

In [51]:
TorFalse = True

In [52]:
# this is comment

In [53]:
age = 30 # this is age of the user

In [58]:
_name = 'M'

In [60]:
firstName = "M"

In [61]:
if = 1

SyntaxError: invalid syntax (<ipython-input-61-773eba7f7781>, line 1)

In [3]:
_print = 2

In [4]:
print(_print)

2

In [5]:
GPA = 3.8

In [13]:
GPA = GPA * 0.1

In [14]:
GPA

0.37

In [12]:
print(GPA+1)

4.699999999999999

In [20]:
full_name = "Reza"+" "+"1"

In [21]:
print(full_name)

Reza 1

In [23]:
"Reza"*2

'RezaReza'

In [25]:
a = 1 
b = 2

In [29]:
a = b

In [35]:
a = 1 
b = 2

In [36]:
c = a

In [37]:
a = b

In [38]:
b = c

In [39]:
print("a=",a,"b=",b)

a= 2 b= 1

In [42]:
Name = "Reza"
age = "34"
print("My Name is ",Name,"And I am",age,"Y.O.")

My Name is  Reza And I am 34 Y.O.

In [47]:
Name = input("Enter you name ")
age = input("Enter your age ")

Enter you name reza
Enter your age 23

In [48]:
print("My Name is ",Name,"And I am",age,"Y.O.")

My Name is  reza And I am 23 Y.O.

In [49]:
type(age)

str

# String Options

In [55]:
g = -9.8
t = 10.0
v = 100.0
y0 = 0

y = 0.5*g*t**2 + v*t+y0

In [56]:
y

509.99999999999994

In [63]:
"With GA = %.2f, time = %.0f, and velocity = %.2e, initial position =%d; y = %f"%(g,t,v,y0,y)

'With GA = -9.80, time = 10, and velocity = 1.00e+02, initial position =0; y = 510.000000'

In [68]:
print("%d"%100.9)

100

In [73]:
print("1/3=%.2e"%(1/3))

1/3=3.33e-01

In [74]:
print("my name is %s"%("reza"))

my name is reza

# Escape sequence

In [78]:
my_str = "First Line \nSecond line"

In [80]:
my_str

'First Line \nSecond line'

In [81]:
print(my_str)

First Line
Second line

In [85]:
my_str = r"First segment \t Second Segment"

In [86]:
print(my_str)

First segment \t Second Segment

In [87]:
my_str = "this is a looooooooooooooooooooooooooooooooooooooooo\
oooooooooooooooooooooooooooooooooooooooooooooooooooooooooog line"

In [88]:
print(my_str)

this is a looooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooog line

In [89]:
i = 5

In [90]:
j = \
5

In [92]:
print(j)

5

In [96]:
my_str = """
%dst line
%dndline
%drdline
...
"""%(1,2,3)

In [97]:
print(my_str)

1st line
2ndline
3rdline
...

In [ ]:
# this comment
# 1line
# 2ndline
# 3rd line

In [102]:
i = 5; print(i);

5

In [103]:
print("HW")

HW

In [107]:
type("Majid Erahimi")

str

In [114]:
int(float("123.3434"))

123

In [115]:
float("2")

2.0

In [120]:
bool(-10.121212)

True

In [130]:
x = input("Enter something")

Enter something12.34

In [131]:
type(x)

str

In [133]:
type(eval(x))

float

In [153]:
name = input("Enter the var name ")
value = input("Enter the var value")

Enter the var name age
Enter the var value12

In [154]:
exec("%s = %s"%(name, value))

In [155]:
age

12

()

** 
*/ 
+ -

In [157]:
a = 1

In [165]:
res = a <= 1

In [166]:
type(res)

bool

In [170]:
False or False

False

In [171]:
False or True

True

In [172]:
True or True

True

In [177]:
not(bool(0))

True

In [ ]:
a = 1

In [178]:
(a >= 0) and (a == 1 )

True

In [ ]:
| &

# IF; IF, ELIF; ELSE

Enter a number12

In [186]:
x = eval(input("Enter a number"))

if (x>0): 
    print("+")
elif (x==0):
    print("Adad is sefr")
else:
    print("Manfi")

Enter a number-1
Manfi

In [189]:
x = eval(input("Enter a number"))
if (x%2 == 0):
    print("Zooj")
else:
    print("Fard")

Enter a number3
Fard

In [ ]:
x = 1 , y = 2

In [190]:
if (x<y):
    print("x<y")
elif (x==y):
    print("x=y")
else:
    print("x>y")

x<y

In [198]:
a = 1; b = 3 ; c = 10

In [199]:
max_num = a
if (b>a):
    max_num = b
if (c>b):
    max_num = c
    
print(max_num)

10

In [202]:
max_number = 10
counter = 1
while (counter <= max_number):
    print(counter)
    counter = counter + 1

1
2
3
4
5
6
7
8
9
10

In [207]:
upper_lim = 10
step = 2
while (step<=upper_lim):
    print(step)
    step = step*2

2
4
8

## Break, Continue

In [7]:
upper_lim = 10
step = 2
while (step<=upper_lim):
    if(step==5):
         step +=1
         continue
    print(step)
    step += 1

2
3
4
6
7
8
9
10

In [8]:
hidden_num = 10

In [9]:
x = eval(input("Enter your number"))

while (x!= hidden_num ):
    if (x>hidden_num):
        print("Kemtre")
        x = eval(input("Enter your number"))
    else:
        print("Bishtare")
        x = eval(input("Enter your number"))
        
print("BorD")

Enter your number12
Kemtre
Enter your number11
Kemtre
Enter your number10
BorD

# Function

In [14]:
def say_hello(name):
    print("Hello %s"%name)

In [16]:
say_hello(1)

Hello 1

In [19]:
def Zarb2(x):
    print(x*2.1)

In [20]:
Zarb2("m")

TypeError: can't multiply sequence by non-int of type 'float'

In [26]:
def do_nothing():
    pass

In [24]:
do_nothing()

In [27]:
def my_func(havij):
    havij=2
    print(havij)

In [28]:
x= 50

In [29]:
my_func(x)

2

In [33]:
print(x)

2

In [31]:
def my_func():
    global x
    x=2
    print(x)

In [32]:
my_func()

2

In [45]:
f = lambda x,y: x*y

In [43]:
f(1,2)

2

In [46]:
def my_func(havij):
    havij=2
    return havij

In [48]:
a = my_func(2)

In [50]:
print(a)

2

In [60]:
def location(v0,t,g=9.8):
    """
    
    """
    return -0.5*g*t**2+v0*t

In [66]:
location()

1.0

In [ ]:
x = eval(input("Enter your number"))

while (x!= hidden_num ):
    if (x>hidden_num):
        print("Kemtre")
        x = eval(input("Enter your number"))
    else:
        print("Bishtare")
        x = eval(input("Enter your number"))
        
print("BorD")

In [67]:
def hads(x, hidden_num = 10):
    while (x!= hidden_num ):
        if (x>hidden_num):
            print("Kemtre")
            x = eval(input("Enter your number"))
        else:
            print("Bishtare")
            x = eval(input("Enter your number"))

    print("BorD")

In [69]:
hads(10,100)

Bishtare

KeyboardInterrupt: Interrupted by user

In [86]:
def max3(x,y,z):
    """
    this fucntion return the maximum number of three number
    """
    max_res = x
    if y>max_res:
        max_res=y
    if z>max_res:
        max_res = z
    return max_res

In [89]:
? max3

In [77]:
max3(3,20,100)

100

In [85]:
type.__doc__

type(object_or_name, bases, dict)
type(object) -> the object's type
type(name, bases, dict) -> a new type

In [ ]:
help()

# Data Structure

* Int, Float, String
* List
* Tuple
* Dictionary
* Set
* ===========> create new data type with "class"

## List
![](Pics/darray.png)

In [11]:
my_list = [1,2,3,4,5]

In [12]:
my_list2 = [1, "String",True, my_list]

In [13]:
my_list2

[1, 'String', True, [1, 2, 3, 4, 5]]

In [17]:
my_list2[3][3]

4

In [18]:
my_list2[1:3]

['String', True]

In [22]:
my_list2[:]

[1, 'String', True, [1, 2, 3, 4, 5]]

In [24]:
my_list

TypeError: list indices must be integers or slices, not float

In [26]:
len(my_list2)

4

In [28]:
my_list2[len(my_list2)-1]

[1, 2, 3, 4, 5]

In [29]:
my_list2

[1, 'String', True, [1, 2, 3, 4, 5]]

In [32]:
my_list2[1:-1]

['String', True]

In [35]:
my_list2.index("String")

ValueError: 'String1' is not in list

In [9]:
myList1 = [1, 2,2, 'String', False, [2, 3, 4, 5]]

In [10]:
myList1.index(2)

1

In [12]:
myList1.count(0)

1

In [14]:
myList = [1,2,3,40]

In [19]:
myList.sort()

In [20]:
myList

[1, 2, 3, 40]

In [21]:
a= [1,2,3]

In [22]:
b = a

In [24]:
b[0] = 100

In [25]:
b

[100, 2, 3]

In [26]:
a

[100, 2, 3]

In [27]:
id(a)

1601482199744

In [28]:
id(b)

1601482199744

In [29]:
b = a.copy()

In [30]:
b

[100, 2, 3]

In [31]:
id(b)

1601450264320

In [32]:
id(a)

1601482199744

In [33]:
b[0]= 1

In [34]:
b

[1, 2, 3]

In [35]:
a

[100, 2, 3]

In [36]:
a = [1,2,3,4]; b = [5,6,7,8]

In [37]:
a+b

[1, 2, 3, 4, 5, 6, 7, 8]

In [39]:
[1,2,3,4]*4.0

TypeError: can't multiply sequence by non-int of type 'float'

In [40]:
a = [1,2,3,4]

In [41]:
a + [1]

[1, 2, 3, 4, 1]

In [42]:
a = []

In [43]:
type(a)

list

In [44]:
a.append(1)

In [46]:
a.append(2)

In [47]:
a

[1, 2]

In [54]:
A = 1
A = A+1

In [55]:
A

2

In [51]:
a = a+[3]

In [56]:
a = [0]+a

In [57]:
a

[0, 1, 2, 3]

# String

In [58]:
my_str = "Well, Hello there"

In [59]:
len(my_str)

17

In [62]:
my_str[:4]

'Well'

In [70]:
my_str.replace("e","")

'Wll, Hllo thr'

In [69]:
my_str

'Well, Hello there'

# For loop

In [71]:
for i in [1,2,3]:
    print(i)

1
2
3

In [76]:
elements = [1,2,3, "Havij"]

In [77]:
for element in elements:
    print(element)

1
2
3
Havij

In [78]:
elements[:2]

[1, 2]

In [82]:
for i in range(3,9,2):
    print(i)

3
5
7

In [88]:
print(type(range(3,9,2)))

<class 'range'>

In [89]:
list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [90]:
mstr = 'Majid'

In [94]:
list(mstr)

['M', 'a', 'j', 'i', 'd']

In [96]:
'-'.join(list(mstr))

'M-a-j-i-d'

In [2]:
myL = []
for i in range(100):
    myL.append(i**2+3)

In [4]:
a = [item**2 for  item in range(100)]

In [6]:
def myfunction(x):
    return x**2+3

In [7]:
[myfunction(x) for x in range(100)]

[3,
 4,
 7,
 12,
 19,
 28,
 39,
 52,
 67,
 84,
 103,
 124,
 147,
 172,
 199,
 228,
 259,
 292,
 327,
 364,
 403,
 444,
 487,
 532,
 579,
 628,
 679,
 732,
 787,
 844,
 903,
 964,
 1027,
 1092,
 1159,
 1228,
 1299,
 1372,
 1447,
 1524,
 1603,
 1684,
 1767,
 1852,
 1939,
 2028,
 2119,
 2212,
 2307,
 2404,
 2503,
 2604,
 2707,
 2812,
 2919,
 3028,
 3139,
 3252,
 3367,
 3484,
 3603,
 3724,
 3847,
 3972,
 4099,
 4228,
 4359,
 4492,
 4627,
 4764,
 4903,
 5044,
 5187,
 5332,
 5479,
 5628,
 5779,
 5932,
 6087,
 6244,
 6403,
 6564,
 6727,
 6892,
 7059,
 7228,
 7399,
 7572,
 7747,
 7924,
 8103,
 8284,
 8467,
 8652,
 8839,
 9028,
 9219,
 9412,
 9607,
 9804]

In [13]:

[(lambda x:x**2+3)(havij) for havij in range(100)]

[3,
 4,
 7,
 12,
 19,
 28,
 39,
 52,
 67,
 84,
 103,
 124,
 147,
 172,
 199,
 228,
 259,
 292,
 327,
 364,
 403,
 444,
 487,
 532,
 579,
 628,
 679,
 732,
 787,
 844,
 903,
 964,
 1027,
 1092,
 1159,
 1228,
 1299,
 1372,
 1447,
 1524,
 1603,
 1684,
 1767,
 1852,
 1939,
 2028,
 2119,
 2212,
 2307,
 2404,
 2503,
 2604,
 2707,
 2812,
 2919,
 3028,
 3139,
 3252,
 3367,
 3484,
 3603,
 3724,
 3847,
 3972,
 4099,
 4228,
 4359,
 4492,
 4627,
 4764,
 4903,
 5044,
 5187,
 5332,
 5479,
 5628,
 5779,
 5932,
 6087,
 6244,
 6403,
 6564,
 6727,
 6892,
 7059,
 7228,
 7399,
 7572,
 7747,
 7924,
 8103,
 8284,
 8467,
 8652,
 8839,
 9028,
 9219,
 9412,
 9607,
 9804]

In [12]:
# f = lambda x:x**2+3
# [lambda x:x**2+3(havij) for havij in range(100)]

[lambda havij:havij**2+3 for havij in range(100)]

[<function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>,
 <function __main__.<listcomp>.<lambda>(havij)>]

# Tuple

In [14]:
my_tuple = 1,2,3,4

In [15]:
type(my_tuple)

tuple

In [14]:
my_tuple = 1,2,3,4

In [15]:
type(my_tuple)

tuple

In [24]:
my_tuple = (1,2,3,4)

type(my_tuple)

tuple

In [21]:
my_tuple = (1,)

In [22]:
type(my_tuple)

tuple

In [25]:
len(my_tuple)

4

In [30]:
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

In [31]:
a = my_tuple

In [32]:
id(a)

2311065907984

In [33]:
id(tuple)

140709076714704

In [34]:
def myf(a,b):
    return a+b, a-b

In [36]:
type(myf(1,2))

tuple

In [37]:
a =1 
b = 2

In [38]:
a, b = b, a

In [39]:
a

2

In [40]:
b

1

In [43]:
a = "mmm"
b = 'mmm'
for i,j in zip(a,b):
    print(i,j)

m m
m m
m m

In [44]:
a = ['m','n','k']

In [45]:
for i,j in enumerate(a):
    print(i,j)

0 m
1 n
2 k

In [47]:
for i,j in zip(range(len(a)),a):
    print(i,j)

0 m
1 n
2 k

In [52]:
m = {2:1}

In [54]:
m[2]

1

In [55]:
m = dict()

In [56]:
m['Apple'] = "Mooz"

In [57]:
m["Banana"] = 'Seed'

In [58]:
m

{'Apple': 'Mooz', 'Banana': 'Seed'}

In [60]:
my_set = {1,2,3,4,5,"mmm"}

In [61]:
my_set

{1, 2, 3, 4, 5, 'mmm'}

In [62]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [66]:
mList = [1,1,1,1,1,1,1,1,11,1,1,1]

In [69]:
mList = set(mList)

In [73]:
mList.add(10)

In [74]:
mList

{1, 10, 11}

In [ ]:
ty

In [76]:
print(type(1))

<class 'int'>

# Class and Instance

Class creates a new data structure
Class: a group things with common feature
a Car:
* 4 wheel
* Engine
* some doors
* windows
* lights
...


Instance is a thing that belongs to the class
what make this things distinct?

Class Car
Instance 1: Pagani Huayra
Instance 2: Pride

![](Pics/class.png)

# Module

# funtion and data structure
* Variables of a Module called Attributes
* Functions of a Module called Methods

In [4]:
import math

In [80]:
math.pi

3.141592653589793

In [1]:
from math import pi, sin

In [2]:
sin(pi)

1.2246467991473532e-16

In [5]:
math.sin(math.pi)

1.2246467991473532e-16

In [7]:
for i in [pi,pi]:
    print(sin(i))

1.2246467991473532e-16
1.2246467991473532e-16

In [8]:
import os

In [10]:
os.getcwd()

'C:\\Users\\Majid\\Desktop'

In [12]:
os.listdir()

['.ipynb_checkpoints',
 'desktop.ini',
 'How to speak python.ipynb',
 'Pics',
 'Temp']

In [15]:
os.path.isfile('How to speak python.ipynb')

True

In [18]:
os.mkdir("M")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'M'

In [17]:
os.listdir()

['.ipynb_checkpoints',
 'desktop.ini',
 'How to speak python.ipynb',
 'M',
 'Pics',
 'Temp']

In [19]:
os.path.join(os.getcwd(),"M")

'C:\\Users\\Majid\\Desktop\\M'

In [20]:
import time

In [22]:
t0 = time.time()
time.sleep(2)
    
print(time.time()-t0)

2.0004096031188965

In [25]:
help(time)

Help on built-in module time:

NAME
    time - This module provides various functions to manipulate time values.

DESCRIPTION
    There are two standard representations of time.  One is the number
    of seconds since the Epoch, in UTC (a.k.a. GMT).  It may be an integer
    or a floating point number (to represent fractions of seconds).
    The Epoch is system-defined; on Unix, it is generally January 1st, 1970.
    The actual value can be retrieved by calling gmtime(0).

    The other representation is a tuple of 9 integers giving local time.
    The tuple items are:
      year (including century, e.g. 1998)
      month (1-12)
      day (1-31)
      hours (0-23)
      minutes (0-59)
      seconds (0-59)
      weekday (0-6, Monday is 0)
      Julian day (day in the year, 1-366)
      DST (Daylight Savings Time) flag (-1, 0 or 1)
    If the DST flag is 0, the time is given in the regular time zone;
    if it is 1, the time is given in the DST time zone;
    if it is -1, mktime() should guess based on the date and time.

CLASSES
    builtins.tuple(builtins.object)
        struct_time

    class struct_time(builtins.tuple)
     |  struct_time(iterable=(), /)
     |
     |  The time value as returned by gmtime(), localtime(), and strptime(), and
     |  accepted by asctime(), mktime() and strftime().  May be considered as a
     |  sequence of 9 integers.
     |
     |  Note that several fields' values are not the same as those defined by
     |  the C language standard for struct tm.  For example, the value of the
     |  field tm_year is the actual year, not year - 1900.  See individual
     |  fields' descriptions for details.
     |
     |  Method resolution order:
     |      struct_time
     |      builtins.tuple
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __reduce__(...)
     |      Helper for pickle.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  tm_gmtoff
     |      offset from UTC in seconds
     |
     |  tm_hour
     |      hours, range [0, 23]
     |
     |  tm_isdst
     |      1 if summer time is in effect, 0 if not, and -1 if unknown
     |
     |  tm_mday
     |      day of month, range [1, 31]
     |
     |  tm_min
     |      minutes, range [0, 59]
     |
     |  tm_mon
     |      month of year, range [1, 12]
     |
     |  tm_sec
     |      seconds, range [0, 61])
     |
     |  tm_wday
     |      day of week, range [0, 6], Monday is 0
     |
     |  tm_yday
     |      day of year, range [1, 366]
     |
     |  tm_year
     |      year, for example, 1993
     |
     |  tm_zone
     |      abbreviation of timezone name
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  n_fields = 11
     |
     |  n_sequence_fields = 9
     |
     |  n_unnamed_fields = 0
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.tuple:
     |
     |  __add__(self, value, /)
     |      Return self+value.
     |
     |  __contains__(self, key, /)
     |      Return key in self.
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __getitem__(self, key, /)
     |      Return self[key].
     |
     |  __getnewargs__(self, /)
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __iter__(self, /)
     |      Implement iter(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __len__(self, /)
     |      Return len(self).
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __mul__(self, value, /)
     |      Return self*value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __rmul__(self, value, /)
     |      Return value*self.
     |
     |  count(self, value, /)
     |      Return number of occurrences of value.
     |
     |  index(self, value, start=0, stop=9223372036854775807, /)
     |      Return first index of value.
     |
     |      Raises ValueError if the value is not present.

FUNCTIONS
    asctime(...)
        asctime([tuple]) -> string

        Convert a time tuple to a string, e.g. 'Sat Jun 06 16:26:11 1998'.
        When the time tuple is not present, current time as returned by localtime()
        is used.

    ctime(...)
        ctime(seconds) -> string

        Convert a time in seconds since the Epoch to a string in local time.
        This is equivalent to asctime(localtime(seconds)). When the time tuple is
        not present, current time as returned by localtime() is used.

    get_clock_info(...)
        get_clock_info(name: str) -> dict

        Get information of the specified clock.

    gmtime(...)
        gmtime([seconds]) -> (tm_year, tm_mon, tm_mday, tm_hour, tm_min,
                               tm_sec, tm_wday, tm_yday, tm_isdst)

        Convert seconds since the Epoch to a time tuple expressing UTC (a.k.a.
        GMT).  When 'seconds' is not passed in, convert the current time instead.

        If the platform supports the tm_gmtoff and tm_zone, they are available as
        attributes only.

    localtime(...)
        localtime([seconds]) -> (tm_year,tm_mon,tm_mday,tm_hour,tm_min,
                                  tm_sec,tm_wday,tm_yday,tm_isdst)

        Convert seconds since the Epoch to a time tuple expressing local time.
        When 'seconds' is not passed in, convert the current time instead.

    mktime(...)
        mktime(tuple) -> floating point number

        Convert a time tuple in local time to seconds since the Epoch.
        Note that mktime(gmtime(0)) will not generally return zero for most
        time zones; instead the returned value will either be equal to that
        of the timezone or altzone attributes on the time module.

    monotonic(...)
        monotonic() -> float

        Monotonic clock, cannot go backward.

    monotonic_ns(...)
        monotonic_ns() -> int

        Monotonic clock, cannot go backward, as nanoseconds.

    perf_counter(...)
        perf_counter() -> float

        Performance counter for benchmarking.

    perf_counter_ns(...)
        perf_counter_ns() -> int

        Performance counter for benchmarking as nanoseconds.

    process_time(...)
        process_time() -> float

        Process time for profiling: sum of the kernel and user-space CPU time.

    process_time_ns(...)
        process_time() -> int

        Process time for profiling as nanoseconds:
        sum of the kernel and user-space CPU time.

    sleep(...)
        sleep(seconds)

        Delay execution for a given number of seconds.  The argument may be
        a floating point number for subsecond precision.

    strftime(...)
        strftime(format[, tuple]) -> string

        Convert a time tuple to a string according to a format specification.
        See the library reference manual for formatting codes. When the time tuple
        is not present, current time as returned by localtime() is used.

        Commonly used format codes:

        %Y  Year with century as a decimal number.
        %m  Month as a decimal number [01,12].
        %d  Day of the month as a decimal number [01,31].
        %H  Hour (24-hour clock) as a decimal number [00,23].
        %M  Minute as a decimal number [00,59].
        %S  Second as a decimal number [00,61].
        %z  Time zone offset from UTC.
        %a  Locale's abbreviated weekday name.
        %A  Locale's full weekday name.
        %b  Locale's abbreviated month name.
        %B  Locale's full month name.
        %c  Locale's appropriate date and time representation.
        %I  Hour (12-hour clock) as a decimal number [01,12].
        %p  Locale's equivalent of either AM or PM.

        Other codes may be available on your platform.  See documentation for
        the C library strftime function.

    strptime(...)
        strptime(string, format) -> struct_time

        Parse a string to a time tuple according to a format specification.
        See the library reference manual for formatting codes (same as
        strftime()).

        Commonly used format codes:

        %Y  Year with century as a decimal number.
        %m  Month as a decimal number [01,12].
        %d  Day of the month as a decimal number [01,31].
        %H  Hour (24-hour clock) as a decimal number [00,23].
        %M  Minute as a decimal number [00,59].
        %S  Second as a decimal number [00,61].
        %z  Time zone offset from UTC.
        %a  Locale's abbreviated weekday name.
        %A  Locale's full weekday name.
        %b  Locale's abbreviated month name.
        %B  Locale's full month name.
        %c  Locale's appropriate date and time representation.
        %I  Hour (12-hour clock) as a decimal number [01,12].
        %p  Locale's equivalent of either AM or PM.

        Other codes may be available on your platform.  See documentation for
        the C library strftime function.

    thread_time(...)
        thread_time() -> float

        Thread time for profiling: sum of the kernel and user-space CPU time.

    thread_time_ns(...)
        thread_time() -> int

        Thread time for profiling as nanoseconds:
        sum of the kernel and user-space CPU time.

    time(...)
        time() -> floating point number

        Return the current time in seconds since the Epoch.
        Fractions of a second may be present if the system clock provides them.

    time_ns(...)
        time_ns() -> int

        Return the current time in nanoseconds since the Epoch.

DATA
    altzone = 25200
    daylight = 1
    timezone = 28800
    tzname = ('Pacific Standard Time', 'Pacific Daylight Time')

FILE
    (built-in)

In [24]:
dir(time)

['_STRUCT_TM_ITEMS',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'altzone',
 'asctime',
 'ctime',
 'daylight',
 'get_clock_info',
 'gmtime',
 'localtime',
 'mktime',
 'monotonic',
 'monotonic_ns',
 'perf_counter',
 'perf_counter_ns',
 'process_time',
 'process_time_ns',
 'sleep',
 'strftime',
 'strptime',
 'struct_time',
 'thread_time',
 'thread_time_ns',
 'time',
 'time_ns',
 'timezone',
 'tzname']

In [48]:
havij = open("output1.txt","a")

In [49]:
havij.write("first line\n")

11

In [50]:
havij.close()

In [80]:
havij = open("output1.txt","r")

In [81]:
a = havij.readlines()

In [83]:
a[1]

'first line\n'

In [67]:
print(a)

first linefirst line
first line

In [79]:
havij.close()